:root {
  --primaryColor: rgb(34, 34, 34);
  --secondColor: #07cf0a;
  --container-bg-color: #333;
}

.navbar {
  position: fixed;
  z-index: 10;
}

.book-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 90px auto 0px auto;
}

.book-container iframe {
  flex: 0.5;
}

.book-container .book-contact {
  flex: 0.5;
}

.book-contact {
  margin: 30px;
}

.book-contact form {
  flex-direction: column;
}

.book-contact h1 {
  margin-bottom: 30px;
  font-size: 40px;
}

.book-contact h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.book-contact p {
  margin-bottom: 10px;
}

.contact-info {
  text-align: start;
}

.contact-info i {
  color: var(--secondColor);
}

.contact-info span {
  font-weight: bold;
}

.contact-form-text {
  font-weight: bold;
  margin-top: 20px;
}
