:root {
  --primaryColor: rgb(34, 34, 34);
  --secondColor: #07cf0a;
  --blackShade: #02012b;
  --container-bg-color: #333;
  --left-bg-color: rgba(92, 92, 92, 0.3);
  --left-button-hover-color: #009dff98;
  --right-bg-color: rgba(43, 43, 43, 0.6);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

/* GENERAL */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--primaryColor);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.scroll-container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

.scroll-area {
  display: flex;
  color: white;
  scroll-snap-align: start;
}

.scroll-area:nth-of-type(1) {
  background-color: white;
  height: 100vh;
  justify-content: center;
}

.scroll-area:nth-of-type(2) {
  background-color: white;
  height: 100vh;
  justify-content: start;
}

.scroll-area:nth-of-type(3) {
  height: 100vh;
  justify-content: center;
}

.scroll-area:nth-of-type(4) {
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.scroll-area:nth-of-type(5) {
  height: 100vh;
  justify-content: center;
}

/* FIRST SECTION - INTRO - SPLIT SCREEN */
.home-header {
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100px;
  background-color: var(--primaryColor);
}

.split-screen-question {
  text-align: center;
}

.h1-futebol,
.h1-squash {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("images/soccer-player.jpg") center center no-repeat;
  background-size: cover;
}

.split.left:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url("images/squash-player.jpg") center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.split.left,
.split.right,
.split.right:before,
.split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}

.hover-right .left:before {
  z-index: 2;
}

/* SECOND SECTION */
.reviews {
  background-image: linear-gradient(var(--primaryColor), var(--primaryColor));
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 10px 13%;
  color: white;
  position: relative;
  overflow: hidden;
}

.reviews::after,
.reviews::before {
  content: " ";
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: var(--secondColor);
  border-radius: 50%;
}

.reviews::after {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.reviews::before {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.reviews > h1 {
  font-size: 50px;
  position: relative;
  margin-bottom: 19px;
}

.reviews > h1::after {
  content: " ";
  position: absolute;
  width: 70px;
  height: 4px;
  border-radius: 10px;
  background-color: var(--secondColor);
  left: 0;
  bottom: -8px;
}

.reviews > p {
  font-size: 15px;
  opacity: 0.8;
  max-width: 480px;
  line-height: 25px;
  margin-bottom: 30px;
}

.cards-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  position: relative;
  z-index: 99;
}

.card-1 {
  padding: 40px;
  background-color: rgb(206, 206, 206, 0.192);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 0 0 45px rgba(51, 51, 51, 0.577);
  transition: all 0.5s ease;
  text-align: center;
}

.card-1:hover {
  transform: scale(1.06);
  background-color: rgba(255, 255, 255, 0.733);
  color: #333;
}

.card-1 img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid var(--secondColor);
}

.card-1 h2 {
  font-size: 18px;
  /* color: var(--secondColor); */
  margin: 4px 0 0px 0;
}

.card-1 h3 {
  font-size: 16px;
  opacity: 0.8;
  margin: 4px 0 2px 0;
}

.card-1 p {
  font-size: 15px;
  opacity: 0.8;
  line-height: 23px;
  margin-top: 9px;
}

.ratings {
  margin: 5px 0 15px 0;
}

.ratings .fa-star {
  font-size: 19px;
}

/* THIRD SECTION - REVIEWS - MEDIA  */
/* media */
.media {
  display: block;
  text-align: center;
}

.media h3 {
  color: black;
  font-size: 2.4rem;
  padding-top: 10px;
}
/* reviews */
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  flex-wrap: wrap;
}

.review-box {
  width: 300px;
  background-color: white;
  border: 1px solid #ececec;
  margin: 20px;
}

.review-img {
  width: 100%;
  height: auto;
}

.review-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-top: 10px;
}

.review-text {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
}

.review-text span {
  color: gray;
  font-size: 0.9rem;
}

.review-text .review-person {
  font-size: 1.1rem;
  font-weight: 500;
  color: #272727;
}

.review-text p {
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0px;
}

/* instagram images */
.media-imgs {
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.media-imgs img {
  max-width: 100%;
  height: auto;
}

.media-imgs img:hover {
  opacity: 70%;
}

/* blog */
.blog-section {
  background-color: var(--primaryColor);
}

#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 40px 40px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-heading span {
  color: gray;
}

.blog-heading h3 {
  font-size: 2.4rem;
  color: rgb(206, 206, 206);
  font-weight: 600;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 20px 0px;
  flex-wrap: wrap;
}

.blog-box {
  width: 250px;
  background-color: white;
  border: 1px solid #ececec;
  margin: 20px;
}

.blog-img {
  width: 100%;
  height: auto;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
}

.blog-text span {
  color: gray;
  font-size: 0.9rem;
}

.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}

.blog-text .blog-title:hover {
  color: var(--secondColor);
  transition: all ease 0.3s;
}

.blog-text p {
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0px;
}

.blog-text a {
  color: #0f0f0f;
}

.blog-text a:hover {
  color: var(--secondColor);
  transition: all ease 0.3s;
}

/* FOURTH SECTION */
.partners {
  display: block;
  text-align: center;
  justify-content: center;
}

.companies {
  color: black;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 3px;
  height: calc(100vh - 220px);
  justify-content: center;
}

.companies h1 {
  margin-top: 20px;
  font-size: 50px;
}

.companies h3 {
  margin-top: 5px;
  margin-bottom: 3px;
}

.companies p {
  margin-bottom: 40px;
}

.uil-envelope {
  margin-right: 5px;
  font-size: 20px;
}

.partners-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 20px auto 0 auto;
  gap: 20px;
  justify-content: center;
}

.card {
  justify-self: center;
}

.card h2 {
  margin-bottom: 5px;
}

.top {
  text-align: center;
  margin-bottom: 10px;
}

.bottom a {
  align-items: center;
  justify-content: center;
}

.bottom img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -8px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 1s ease;
  object-fit: contain;
  margin: 20px 30px 30px 30px;
  transition: all 1s ease;
  position: relative;
  text-align: center;
}

.bottom img:hover {
  transform: scale(1.1);
}

footer {
  margin: 10px 0;
}

/* RESPONSIVE */
/* Nest Hub Max - 1280 */
@media screen and (max-width: 1280px) {
}

/* Ipad Air (horizontal) -  1180 */
@media screen and (max-width: 1180px) {
  .partners-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 20px auto 0 auto;
    gap: 20px;
    justify-content: center;
  }
}

/* Nest Hub - 1024 */
@media screen and (max-width: 1024px) {
  .partners-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 20px auto 0 auto;
    gap: 20px;
    justify-content: center;
  }

  .companies h1 {
    font-size: 30px;
  }

  .card h2 {
    font-size: 23px;
  }

  .bottom img {
    width: 200px;
    height: 150px;
  }
}

/* Surface Pro 7 -  912 */
@media screen and (max-width: 912px) {
  .partners-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 20px auto 0 auto;
    gap: 20px;
    justify-content: center;
  }

  .companies h1 {
    font-size: 50px;
    margin: 50px 0;
  }

  .companies h3 {
    margin-top: 70px;
    font-size: 30px;
  }

  .companies p {
    font-size: 20px;
  }

  .bottom img {
    width: 350px;
    height: 200px;
  }
}

/* Ipad Air (vertical) -  820 */
@media screen and (max-width: 820px) {
  .partners-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 20px auto 0 auto;
    gap: 20px;
    justify-content: center;
  }

  .companies h3 {
    margin-top: 70px;
    font-size: 25px;
  }

  .companies h1 {
    font-size: 40px;
    margin: 50px 0;
  }

  .bottom img {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 800px) {
  .h1-futebol,
  .h1-squash {
    font-size: 2rem;
  }
}

/* Ipad Mini -  768 */
@media screen and (max-width: 768px) {
  .partners-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 20px auto 0 auto;
    gap: 20px;
    justify-content: center;
  }

  .companies h1 {
    font-size: 40px;
    margin: 30px;
  }

  .companies h3 {
    margin-top: 20px;
    font-size: 25px;
  }

  .bottom img {
    width: 300px;
    height: 200px;
  }
}

/* Surface Duo -  540 */
@media screen and (max-width: 540px) {
  .h1-futebol,
  .h1-squash {
    font-size: 3rem;
  }

  .logo-home {
    height: 120px;
  }

  .partners-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 auto 0 auto;
    gap: 0px;
    justify-content: center;
  }

  .companies h1 {
    font-size: 25px;
    margin: 10px 0 0 0;
  }

  .companies h2 {
    font-size: 16px;
    margin: 10px;
  }

  .companies h3 {
    margin-top: 20px;
    font-size: 16px;
  }

  .companies p {
    font-size: 14px;
  }

  .bottom img {
    width: 200px;
    height: 150px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* MOBILES - Iphone XR + Samsung Galaxy S20 Ultra + Samsung Galaxy A51/71 */
@media screen and (max-width: 414px) {
  .h1-futebol,
  .h1-squash {
    font-size: 2rem;
  }

  .logo-home {
    height: 120px;
  }

  .partners-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 auto 0 auto;
    gap: 0px;
    justify-content: center;
  }
  .bottom img {
    width: 180px;
    height: 130px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .companies h3 {
    margin-top: 40px;
    font-size: 16px;
  }
}

/* Iphone 12 Pro + Pixel 5 */
@media screen and (max-width: 393px) {
  .companies h3 {
    margin-top: 10px;
    font-size: 16px;
  }
}

/* Iphone SE */
@media screen and (max-width: 375px) {
  .partners-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin: 0 auto 0 auto;
    gap: 0px;
    justify-content: center;
  }
  .bottom img {
    width: 150px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .companies h2 {
    font-size: 14px;
  }

  .companies h3 {
    margin-top: 40px;
    font-size: 16px;
  }

  .companies p {
    margin: 0 10px;
  }
}

/* Samsung Galaxy S8 - 360 */
@media screen and (max-width: 361px) {
  .partners-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin: 0 auto 0 auto;
    gap: 0px;
    justify-content: center;
  }
  .bottom img {
    width: 150px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .companies h2 {
    font-size: 14px;
  }

  .companies h3 {
    margin-top: 40px;
    font-size: 16px;
  }
}

/* Responsive - 346 */
@media screen and (max-width: 346px) {
  .partners-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin: 0 auto 0 auto;
    gap: 0px;
    justify-content: center;
  }
  .bottom img {
    width: 150px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .companies h1 {
    margin: 30px 0;
  }

  .companies h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 16px;
  }
}

/* Galaxy Fold - 280 */
@media screen and (max-width: 280px) {
  .h1-futebol,
  .h1-squash {
    font-size: 1.5rem;
  }

  .logo-home {
    height: 80px;
  }

  .partners-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    margin: 0 auto 0 auto;
    gap: 0px;
    justify-content: center;
  }
  .bottom img {
    width: 110px;
    height: 90px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .companies h1 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .companies h2 {
    font-size: 12px;
  }

  .companies h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
  }
}
